.currentPage {
  padding: 0.5rem;
  font-size: larger;
  margin: 0 0.5rem;
  color: aliceblue;
}

.pagination-section {
  display: flex;
  margin-top: 1.5rem;
  margin-left: 5.5rem;
  padding-bottom: 2rem;
}
