.data-container {
    border: 1px grey solid;
    flex-grow: 1;
    margin-left: 1rem;
}

.sort-section {
    margin-top: 1rem;
    text-align: center;
}

.card {
    display: flex;
    width: 20%;
    margin: 1.5rem;
    border: 1px solid grey;
    padding: 1rem;
}